/* paragrafos, tipografia, cores, espaçamentos, imagens */
:root{
    --main-radius: 5px;
    --main-padding: 5px;
    --gap: 5px;
    --bg: #8c7458;
    --cor-menu: #333;
    --cor-menu-hover: #fff;
    }
    /* Reset essencial + box model previsível */
    *,
    *::before,
    *::after { box-sizing: border-box; }

    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        background-color: #f2f2f2;
        text-align: center;
        }
        /* Largura máxima e centralização do site */
        .container{
        max-width: 1200px;
        margin: 0 auto;
        }

        header, aside, main, article, footer{
            background-color: var(--bg);
            margin: var(--gap);
            border-radius: var(--main-radius);
            padding: var(--main-padding);
        }
        