/* paragrafos, tipografia, cores, espaçamentos, imagens */
/* Regras de reset CSS */
:root{
    --main-radius: 5px;
    --main-padding: 5px;
    --gap: 5px;
    --bg: #8c7458;
    --cor-menu: #333;
    --cor-menu-hover: #fff;
    }
    /* Reset essencial + box model previsível */
    *,
    *::before,
    *::after { box-sizing: border-box; }

    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        background-color: #f2f2f2;
        text-align: center;
        }
        /* Regras Gerais */
        /* Largura máxima e centralização do site */
        .container{
        max-width: 1200px;
        margin: 0 auto;
        }

        header, aside, main, article, footer{
            background-color: var(--bg);
            margin: var(--gap);
            border-radius: var(--main-radius);
            padding: var(--main-padding);
        }

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a{
            text-decoration: none;
            font-weight: bold;
            color: var(--cor-menu)
        }
        a:hover{
            text-decoration: underline;
            color: var(--cor-menu-hover);
        }
        
        /* Regras do Menu */
        .menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }

        .menu-items{
            display:flex;
            justify-content: center;
            gap: 15px;
            padding: 20px 0;
        }

        .logo{
            font-weight: bold;
            font-size: 20px;
        }

        /* Regras da Busca */
        input{
            margin-right: 5px;
            padding: 6px 8px;
            border-radius: 5px;
            border: 1px solid #cbb79f;
            background-color: #e9d8c5;
        }
        button{
            cursor: pointer;
            padding: 6px 12px;
            border-radius: 5px;
            border: transparent;
            background-color: #ffff;
            color: #333;
        }
        button:hover{
            background-color: #333;
            color: #fff;
            
        }

        /* Regras da Música */

        /* Regras do Aside */
        .author-thumbnail{
            border-radius: 50%;
            border: 4px solid #2d2d2d;
            margin-top: 30px;

        }
        .author-name{
            font-size: 20px;
        }
        .author-email{
            font-size: 14px;
        }
        .author-bio{
            font-size: 12px;
            text-align: justify;
            margin: 30px;
        }
        .social-links{
            font-size: 26px;
            gap: 15px;
        }

        /* Regras do Footer */
        .footer-container{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
        }
        .footer-container ul,
        .footer-container div{
            flex: 1;
            max-width: 30%;
            min-width: 180px;
        }
        footer ul{
            padding: 0;
            margin: 20px 0 0 0;
        }
        .footer-bottom p{
            margin: 8px 0;
        }

        /* Regras do Carousel */
        .carousel{
            position: relative;
            max-width: 950px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: var(--main-radius);
        }
        .carousel-images{
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .carousel-images img{
            width: 100%;
            height: auto;
            flex-shrink: 0;
        } 
        .prev, .next{
            position: absolute;
            /* z-index: 2; */
            top: 50%;
            border: none;
        }
        .prev{
            left: 10px;
        }
        .next{
            right: 10px;
        }

        /* Regras Conteúdo */
        .content{
            padding: 20px;
        }
        .content img{
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
        .content p{
            font-size: 12px;
            text-align: justify;
            margin: 20px;
        }
       