/* estrutura flex */

.container {
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex: 1;
}
aside{
    flex-basis: 20%;
}
.content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

main{
    flex: 1;
    padding: 0;
}
.content-row{
    display: flex;
    gap: 10px;
}

.content{
    flex: 1 1 0;
}